body {
    display: flex;
    font-family: 'Inter Display', sans-serif;
    height: 100vh;
    justify-content: center;
}

@font-face {
    font-family: "Inter Display";
    src: url("../fonts/InterDisplay-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

.body-overlay {
    width: 100%;
    height: 100%;
    background-color: #00000008;
    backdrop-filter: blur(30px);
    position: fixed;
    top: 0;
    bottom: 0;
    display: flex;
    z-index: 300;
    justify-content: center;
    align-items: center;
    /* Animation */
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
}


@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media (max-width: 768px) {
    h1 { font-size: 24px; }
    h2 { font-size: 20px; }
    h3 { font-size: 18px; }
    p  { font-size: 14px; }

    .addCard-container {
        padding: 10px;
    }

    .footer {
        margin-top: 100px;
    }

    .menu-benefitsContainer {
        flex-wrap: wrap;
    }

    .menu-walletContainer {
        flex-wrap: wrap;
    }

    .menu-wallet {
        width: 100%;
        padding: 30px;
    }

    .actions-container {
        flex-wrap: wrap;
    }

    .menu-walletBalance {
        font-size: 10px;
    }

    .menu-manageWalletContainer {
        width: 100%;
    }

    .menu-manageWalletButtons {
        width: 100%;
    }

    .newsPage-div {
        width: 100%;
    }

    .actions-div {
        flex-wrap: wrap;
    }

    .profile-personalContainer {
        flex-wrap: wrap;
    }

    .profile-walletsContainer {
        flex-wrap: wrap;
    }

    .profile-addWalletDiv {
        margin-top: 30px;
        width: max-content !important;
    }

    .addCard-div {
        flex-wrap: wrap;
        padding: 20px;
    }

    .addMoney-mainDiv {
        flex-direction: column-reverse !important;
        flex-wrap: wrap;
    }

    .addMoney-wallet {
        margin-bottom: 30px !important;
    }

    .addMoney-inputDiv {
        padding: 30px !important;
    }

    .addMoney-inputContainer {
        margin-left: 0px !important;
    }
}

.body-popup {
    background-color: #ffffff;
    padding: 50px;
    max-width: 310px;
    border-radius: 45px;
    width: 100%;
    box-shadow: 
    0 4px 6px rgba(0, 0, 0, 0.03),
    0 12px 24px rgba(0, 0, 0, 0.06),
    0 32px 64px rgba(0, 0, 0, 0.10);
}

.body-popupText {
    margin-bottom: 30px;
    margin-top: 0px;
}

.popup-yesButton {
    padding: 20px;
    width: 150px;
    background-color: #0c6fff;
    font-family: inherit;
    border: none;
    color: #ffffff;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.popup-noButton,
.continueAsGuest-button {
    padding: 20px;
    max-width: 160px;
    width: 100%;
    background-color: #ffffff;
    font-family: inherit;
    border: none;
    color: #000000;
    border: 1px solid #e4e4e4;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.2s ease;
    font-weight: 600;
}

.popup-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

body::before {
    content: '';
    position: fixed;
    inset: 0;
    background-color: #f5f5f5;
    z-index: -1;
    /* background-image: radial-gradient(#ffffff38 1.3px, transparent 1px);
    background-size: 26px 26px; */
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    flex: 1;
    align-items: center;
}

.error-message {
    background-color: #ffe9e9;
    padding: 5px;
    width: fit-content;
    border-radius: 5px;
    color: #ff7171;
    font-weight: 500;
    font-family: inherit;
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 5px;
    margin-left: 20px;
}

.page-backButton {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #ffffff;
    border: none;
    outline: none;
    padding: 20px;
    width: 100px;
    font-family: inherit;
    font-weight: 500;
    color: #000000;
    border: 1px solid #e4e4e4;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.page-backButton:hover {
    background-color: #f6f6f6;
}

.page-backButtonIcon {
    opacity: 0.2;
}